*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100%;
  background-color: rgb(11, 9, 14);
  display:flexbox;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}
 /*MENU*/ 
 a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: rgb(11, 9, 14 0.5);
  height:8vh;
  width: 100vw;
}
main {
  background: #1B1A1F no-repeat center center;
  background-size: cover;
  height: 92vh;
  overflow-x: hidden;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
.container{
  display: flexbox;
  width: 100%;  
  float: left;
}
.qua_ini{
  width: 100vw;
  height:85vh;
  border: 0.5px red solid;
  margin-top: 10px; 
 display: grid;
}
h1{
  color: #2B2B7D;
  font-size: 3em;
  margin-top:240px;
  margin-left: 350px;
  text-transform: uppercase;
  letter-spacing: 4px;
  float: left;
}
h3{
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 350px;
  float: left;
  border: 1px red solid;
}
#foto_perf{
  width: 30vw;
  height: 100vh;
  border: 1px red solid;
  float:left;

}